.card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 90vw;
  margin: 40px auto;
  padding-bottom: 20px;
  background-color: $desatured-blue;
  border-radius: 10px;
  text-align: center;
  color: $transparent-wite;
  @include responsive-desktop {
    margin: 140px auto;
    height: 500px;
    flex-direction: row;
    padding: 0;
    font-size: 2.4rem;
    .card__content {
      padding: 50px;
    }
    figure {
      order: 1;
      width: 100%;
    }
  }
  figure {
    img {
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      width: 90vw;
      @include responsive-desktop {
        width: 100%;
        height: 100%;
        border-top-left-radius: 0;
        border-bottom-right-radius: 10px;
      }
    }
  }
}